<h1>About Us</h1>
    <p>
      Jungle is a perfect place to buy plants that will freshen up your home. We provide information about each plant if you are new to the gardening world!
    </p>
    <section>
    Feel free to contact us at 905-260-1111 if you have any questions.
    </section>